body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  // background-color: map-get($colors, secondaryColor);
}

/* Display Container */
.flex {
  display: flex;
  $justifies: start, center, end, space-around, space-between;
  @each $justify in $justifies {
    &.justify-#{$justify} {
      justify-content: $justify;
    }
  }
  @each $justify in $justifies {
    &.items-#{$justify} {
      align-items: $justify;
    }
  }
  @for $gap from 1 to 96 {
    &.gap-#{$gap} {
      gap: #{$gap * 0.2}rem;
    }
  }
}
$texts: left, right, center;
@each $text in $texts {
  .text-#{$text} {
    text-align: $text;
  }
}
.grid {
  /*--- taken from the MDN site */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
  grid-gap: 24px;
  grid-auto-rows: minmax(200px, auto);
}

@for $margin from 1 to 96 {
  .m-#{$margin} {
    margin: #{$margin * 0.2}rem;
  }
  .mr-#{$margin} {
    margin-right: #{$margin * 0.2}rem;
  }
  .ml-#{$margin} {
    margin-left: #{$margin * 0.2}rem;
  }
  .mt-#{$margin} {
    margin-top: #{$margin * 0.2}rem;
  }
  .mb-#{$margin} {
    margin-bottom: #{$margin * 0.2}rem;
  }
}
@for $padding from 1 to 96 {
  .p-#{$padding} {
    padding: #{$padding * 0.2}rem;
  }
  .pr-#{$padding} {
    padding-right: #{$padding * 0.2}rem;
  }
  .pl-#{$padding} {
    padding-left: #{$padding * 0.2}rem;
  }
  .pt-#{$padding} {
    padding-top: #{$padding * 0.2}rem;
  }
  .pb-#{$padding} {
    padding-bottom: #{$padding * 0.2}rem;
  }
}

.text-shadow {
  text-shadow: 1px 0px 4px #686a6c;
}
.container {
  margin: 0 1rem;
}
/* Responsive */
@media (min-width: 1024px) {
  .container {
    max-width: 64rem;
    margin: auto;
  }
}
